
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Silkscreen:wght@400;700&display=swap');

 /*estilos gerais e para celular*/

    *{
    box-sizing:border-box;
    }

    body{
        min-height:98vh;
        background-color: #12022b;
        background-image: url(../Imagens-dinamicas/backgroundIndex-celular.png);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        padding-top: clamp(100px, 30vh, 300px);
        user-select: none;
    }

        main{
        min-height:75vh;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    h1{
        font-family: "Jersey 20", sans-serif;
        color: white;
        text-align: center;
        font-size: clamp(6em, 10vw, 10rem);
        text-shadow: 3px 4px 1px #ff0068;
        margin: 0;
    }

     .titulo{
        line-height: 0.8;
    }

    h2#abrirMenu{
        color: white;
        font-family: "Jersey 20", sans-serif;
        width: 30vw;
        font-size: clamp(20px, 4vw, 50px);
        padding: 3px;
        margin: 1.5vh auto 0;
    }

    #start{
        display: flex;
        justify-content: center;
    }

      #botaoStart{
          width:clamp(150px,45vw,450px);
    }

   /*animação carregamento*/ 

   #loading {
    position: fixed;
    inset: 0;
    background-color:#12022b;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

    div#loading > h2{
        color: white;
        font-family: "Silkscreen", sans-serif;
    }

    #barra {
    width: 300px;
    height: 20px;
    border: 2px solid #ff0068;
    border-radius: 10px;
    }

    #progresso {
    height: 100%;
    width: 0%;
    background-color: #ff0068;
    border-radius: 10px;
    transition: 0.2s;
    }


@media screen and (max-width: 958px) and (orientation: landscape) /*celular no modo paisagem*/
{
     body{
        background-image: url(../Imagens-dinamicas/backgroundIndex.jpg);
        padding-top: 15vh;
        font-size: 1em;
    }

    #abrirMenu{
        margin: 0;
        text-align: center;
    }

     #botaoStart{
        margin-top: 3vh;
        width: 14vw;
    }

}

@media screen and (min-width: 760px) and (max-width: 958px){/*tablets*/
    body{
        padding-top: 35vh;
        background-image: url(../Imagens-dinamicas/backgroundIndex-celular.png);
        background-size: 100vw 100vh;
    }

     #botaoStart{
       min-width: 220px;
       width: 14vw;
    }
}

@media screen and (min-width: 959px)  /*telas grandes*/
{
    body{
        padding-top: 20vh;
        font-size: 1em;
        background-image: url(../Imagens-dinamicas/backgroundIndex.jpg);
        background-size: 100vw 100vh;
    }

    #abrirMenu:hover::before,
    #abrirMenu:hover::after, a:hover::before {
        opacity: 1;
    }

      #abrirMenu{
        width: 30vw;
        padding: 4px;
        margin-top: 2vh;
        cursor: pointer;
        margin: 0;
        text-align: center;
    }

     #botaoStart{
        margin-top: 3vh;
        cursor: pointer;
        max-width: 250px;
        }

}