

   @import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Silkscreen:wght@400;700&display=swap');

   @media screen{ /*estilos gerais*/

     *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        ul.menu{
            position:absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding-top: 8px;
            margin-top: 0 !important;
        }

        ul.menu, li{
            list-style: none;
            font-weight: 300;
        }

        ul.menu, li, a{
            position:relative;
            text-decoration: none;
            color: #ff0068;
            font-family: "Jersey 20", sans-serif;
            white-space: nowrap;
        }

         a#PagAtual{
            background-color: #ff0068;
            color: white;
        }

        footer{
         font-size: 12px;
         color:white;
         text-align: center;
         margin-top: auto;
         font-family: "Jersey 20";
         margin-bottom: 12px;
      }
   }


    /*celulares*/
   @media screen and (max-width: 640px)
   {
         ul.menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
         }

       ul.menu, li, a{
            margin: 20px 0;
            padding: 8px;
            color: #ff0068;
        }

        a{
            font-size: medium;
        }

         footer > p{
         font-size: medium;
         text-align: center;
      }
     
   }


   /*tablets*/
   @media screen and (min-width: 641px) and (max-width: 991px)
   {
      ul.menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
         }

       ul.menu, li, a{
            margin-top: 35px;
            padding: 10px 12px;
            color: #ff0068;
            font-size: 24px;
        }

         footer > p{
         text-align: center;
         font-size: 16px;
      }
   }


 /*telas grandes*/
   @media screen and (min-width: 992px) 
   {
      ul.menu, li, a{
            margin: 30px 0;
            padding: 10px 20px;
            font-size: 24px;
            transition: 0.5s;
            z-index: 1;
        }
   
        ul.menu li a::before{
            content:"";
            position: absolute;
            top:0; 
            left:0;
            width: 100%;
            height: 100%;
            border-top: 2px solid #ff0068;
            border-bottom: 2px solid #ff0068;
            transform: scaleY(2);
            opacity: 0;
            transition: 0.3s;
        }

        ul.menu li a::after{
            content:"";
            position: absolute;
            top:2px; 
            left:0;
            width: 100%;
            height: 100%;
            background-color: #ff0068;
            transform: scale(0);
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
        }

        ul.menu li a:hover{
            color: white;
        }

        ul.menu li a:hover::before{
            transform: scaleY(1);
            opacity: 1;
        }

        ul.menu li a#PagAtual:hover::before{
            transform: 0;
            opacity: 0;
        }

        ul.menu li a:hover::after{
            transform: scaleY(1);
            opacity: 1;
        }

        ul.menu li a#PagAtual:hover::after{
            transform:0;
            opacity: 0;
        }

         footer > p{
         text-align: center;
         font-size: 20px;
      }
   }

   @media screen and (min-width: 1400px){
    a{
        font-size: 1em;
    }
   }

  