


@media screen and (max-width: 958px) and (orientation: landscape) /*celular no modo paisagem*/
{
     body{
        background-image: url(../Imagens-dinamicas/backgroundIndex.jpg);
        padding-top: 15vh;
        font-size: 1em;
    }

      h1{
        font-size: 6em;
    }

     .titulo{
        line-height: 75px;
    }

     h2{
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }

     #botaoStart{
        display: flex;
        margin-top: 3vh;
        width: 14vw;
    }

}

@media (min-width: 760px) and (max-width: 958px) {/*tablets*/
    body{
        padding-top: 35vh;
        background-image: url(../Imagens-dinamicas/backgroundIndex-celular.png);
        background-size: 100vw 100vh;
    }

     h1{
        font-size: 8em;
    }

     .titulo{
        line-height: 94px;
    }

    h2{
        font-size: 2.5rem;
    }

     #botaoStart{
       width: 14vw;
    }
}

@media screen and (min-width: 959px)  /*telas grandes*/
{
    body{
        padding-top: 20vh;
        font-size: 1em;
        background-image: url(../Imagens-dinamicas/backgroundIndex.jpg);
        background-size: 100vw 100vh;
    }

     h1{
        font-size: 10em;
    }

    #menu h2:hover::before,
    #menu h2:hover::after {
        opacity: 1;
    }

     .titulo{
        line-height: 120px;
    }

      div#menu{
        width: 30vw;
        padding: 4px;
        margin-top: 2vh;
        cursor: pointer;
    }

    h2{
        margin: 0;
        font-size: 2.0rem;
        text-align: center;
    }

     #botaoStart{
        display: flex;
        margin-top: 3vh;
        cursor: pointer;
        width: clamp(120px, 14vw, 250px);
    }

}


